* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.hero {
    background-color: #1f2937;
    color: white;
    padding: 20px 180px 110px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
}

.nav {
    display: flex;
    gap: 30px;
    list-style: none;
}

.nav a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.hero-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.hero-text {
    width: 450px;
}

.hero-text h1 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    margin-bottom: 15px;
}

.hero-text p {
    font-size: 18px;
    color: #e5e7eb;
    margin-bottom: 15px;
}

button {
    background-color: #3882f6;
    color: white;
    border: none;
    padding: 8px 32px;
    border-radius: 8px;
    font-weight: bold;
    font-size: 16px;
}

.hero-image {
    width: 520px;
    height: 220px;
    background-color: #6d747d;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f9faf8;
}

.information {
    padding: 45px 180px 100px;
    text-align: center;
}

.information h2 {
    font-size: 36px;
    color: #1f2937;
    margin-bottom: 45px;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.card {
    width: 170px;
}

.box {
    width: 170px;
    height: 170px;
    border: 4px solid #3882f6;
    border-radius: 15px;
    margin-bottom: 10px;
}

.card p {
    font-size: 18px;
    color: #4b5563;
}

.quote-section {
    background-color: #e5e7eb;
    padding: 100px 260px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    color: #1f2937;
}

.author {
    text-align: right;
    font-size: 22px;
    font-weight: bold;
    color: #1f2937;
    margin-top: 15px;
}

.cta-section {
  padding: 90px 180px;
}

.cta-box {
  background-color: #3882f6;
  color: white;
  padding: 45px 110px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cta-box h3 {
  font-size: 24px;
}

.cta-box p {
  color: #e5e7eb;
}

.cta-box button {
  border: 2px solid white;
}

.footer {
  background-color: #1f2937;
  color: white;
  text-align: center;
  padding: 35px;
  font-size: 16px;
}